body {
  background-color: #CDEDF6;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}
.box {
  margin-top: 55px;
  width: 550px;
  height: 550px;
  background-color: #5EB1BF;
  color: #042A2B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.square {
  height: 80px;
  width: 80px;
  font-size: 55px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  border-style: solid;
  border-width: 5px;
  border-color: #FFFFFF;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none; 
  cursor: pointer;
}  

.msg {
  margin-top: 15px;
  font-size: 35px;
  font-family: 'Shadows Into Light', cursive;
}

#button {
  margin-top: 15px;
  font-size: 35px;
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
  color: #042A2B;  
}

@media screen and (max-width: 70em) {
  h1 {
    font-size: 60px;
  }
  .box {
    margin-top: 200px;
    width: 100%;
    height: 100%;
  }
  .square {
    width: 200px;
    height: 200px;
    font-size: 100px;
  }
  .msg {
    font-size: 55px;
  }
  #button {
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 45px;
  }
  